{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur de suppression</h1>

    <table>
        <tbody>
            Ce rayon doit être vide pour le supprimer.
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rayon_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
