{% extends 'base.html.twig' %}
{% block body %}

    <div id="navbar" class="navbar-collapse collapse">
        <div class="well">
            <div class="row">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-danger">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}<br>

            <input class="btn btn-default"  type="submit" value="Valider" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}