{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creation de réservation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}



            <a href="{{ path('reserver_index') }}"><button>Retour</button></a>

{% endblock %}
