{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Facultés</h1>

    <table>
        <thead>
            <tr>
                <th>Designation faculté</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for faculte in facultes %}
            <tr>
                <td>{{ faculte.designationFaculte }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('faculte_show', { 'id': faculte.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('faculte_edit', { 'id': faculte.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('faculte_new') }}">Créer une nouvelle faculté</a>
        </li>
    </ul>
{% endblock %}
