{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Facultés</h1>

    <table>

            <tr style="background-color: #5B83AD">
                <th>Designation faculté</th>
                <th>Actions</th>
            </tr>


        {% for faculte in facultes %}
            <tr style="text-align: center; background-color: #e8e8e8">
                <td  style="padding: 5px;">{{ faculte.designationFaculte }}</td>
                <td  style="padding: 5px;">

                            <a href="{{ path('faculte_show', { 'id': faculte.id }) }}"><button>Afficher</button></a>

                            <a href="{{ path('faculte_edit', { 'id': faculte.id }) }}"><button>Modifier</button></a>

                </td>
            </tr>
        {% endfor %}

    </table>

    </br>

            <a href="{{ path('faculte_new') }}"><button>Créer une nouvelle faculté</button></a>


{% endblock %}
