{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recherche de livres</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('livre_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
